@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "settings/grid_settings";
@import "vendor/bitters/bitters";

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #ccc;
	border-bottom: em(1) solid #000;
	padding: em(20);
}

section#articles {
	@include outer-container;
	margin-top: em(20);

	article {

		background-color: #ccc;
		border: em(1) solid #000;
		padding: em(20);
		margin-bottom: em(20);

		@include span-columns(1);

		@include media($bp-landing-medium) {
			@include span-columns(1);
			@include omega(2n);
		}

		@include media($bp-landing-large) {
			@include span-columns(1);
			@include omega(3n);
		}

		@include media($bp-landing-x-large) {
			@include span-columns(1);
			@include omega(4n);
		}
	}
}

article#detail-article {
	@include outer-container;

	padding: em(20);
	margin-top: em(20);
	background-color: #ccc;
	border: em(1) solid #000;

	@include span-columns(1);

	@include media($bp-medium) {
		@include span-columns(1);
	}
}