@import "packages/bourbon/bourbon";
@import "packages/neat/neat";
@import "settings/grid_settings";
@import "vendor/bitters/bitters";

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #ccc;
	border-bottom: em(1) solid #000;
	padding: em(20);
}

nav {
	li {
		display: inline;
		padding: 0 em(10);
		border-right: em(1) solid #000;
		text-transform: uppercase;
	}

	li:last-child {
		border-right: 0;
	}
}

footer {
	background-color: #ccc;
	border-top: em(1) solid #000;
	padding: em(20);
}

section {
	@include outer-container;
	padding: em(20);
}

article {
	background-color: #ccc;
	border: em(1) solid #000;
	padding: em(20);
	margin-bottom: em(20);
}

article:last-child {
	margin-bottom: 0;
}

div.error {
	margin: em(20);
	border: em(1) solid #000;
}

section#articles {

	padding-bottom: 0;

	article {

		@include span-columns(1);

		@include media($bp-landing-medium) {
			@include span-columns(1);
			@include omega(2n);
		}

		@include media($bp-landing-large) {
			@include span-columns(1);
			@include omega(3n);
		}

		@include media($bp-landing-x-large) {
			@include span-columns(1);
			@include omega(4n);
		}
	}
}
section#article-content {

	article {

		@include span-columns(1);

		@include media($bp-medium) {
			@include span-columns(1);
		}
	}
}

section#post-article {
	padding: em(20);
}

section#edit-article {
	padding: em(20);
}

section#viewports {
	div.viewport {
		padding: em(20);
		border: em(1) solid #000;
	}
}