<template name="viewport">
	<section id="viewport">
		<p>Device Pixel Ratio: {{window.devicePixelRatio}}</p>
		<p>Screen Width/Screen Height: {{screen.width}}/{{screen.height}}</p>
		<p>Window innerWidth/innerHeight (visible viewport): {{window.innerWidth}}/{{window.innerHeight}}</p>
		<p>clientWidth/clientHeight (layout viewport): {{documentElement.clientWidth}}/{{documentElement.clientHeight}}</p>
		<p>Physical Dimensions: {{dim.pyhsicalWidth}}/{{dim.physicalHeight}}</p>
	</section>
</template>