<template name="viewport">
	<section id="viewport">
		<h2>Viewport Data</h2>
		<p>User Agent: {{vp.window.userAgent}}</p>
		<p>Device Pixel Ratio: {{vp.window.devicePixelRatio}}</p>
		<p>Screen Width/Screen Height: {{vp.screen.width}}/{{vp.screen.height}}</p>
		<p>Window innerWidth/innerHeight (visible viewport): {{vp.window.innerWidth}}/{{vp.window.innerHeight}}</p>
		<p>clientWidth/clientHeight (layout viewport): {{vp.documentElement.clientWidth}}/{{vp.documentElement.clientHeight}}</p>
		<p>Physical Dimensions: {{vp.dim.pyhsicalWidth}}/{{vp.dim.physicalHeight}}</p>

		<h2>Save to database</h2>
		<p>Save the viewport data to the database. You can view all the saved viewports right here: <a href="{{pathFor 'viewports'}}">Viewports Overview</a></p>

		<form>
			{{#if currentUser}}
				<label>Author</label>
				<p>{{currentUser.profile.name}}</p>
			{{else}}
				<label for="author">Author Name</label>
				<input type="text" placeholder="Enter your name" name="author" required>
			{{/if}}

			<p>
				<label for="deviceName">Device Name</label>
				<input type="text" placeholder="Enter device name or display name" name="deviceName" required>
			</p>
			<p>
				<label for="browser">Browser</label>
				<select name="browser" id="browser">
					<option value="chrome">Chrome</option>
					<option value="firefox">Firefox</option>
					<option value="opera">Opera</option>
					<option value="android">Android AOSP Browser</option>
					<option value="ie8">IE8</option>
					<option value="ie9">IE9</option>
					<option value="ie10">IE10</option>
					<option value="ie11">IE11</option>
					<option value="other">Other</option>
				</select>
			</p>
			<p>
				<label for="orientation">Orientation</label>
				<select name="orientation" id="orientation">
					<option value="portrait">Portrait</option>
					<option value="landscape">Landscape</option>
				</select>
			</p>
			<p>
				<label for="comment">Comment</label>
				<textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comment (please tell us at least your correct not calculated physical pixel count)" required></textarea>
			</p>
			<input type="submit" value="Save viewport to databse">
		</form>
	</section>
</template>