// general setup

$grid-columns: 1;
$max-width: 100%;
$visual-grid: false;

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;

// breakpoints general
$bp-small: new-breakpoint(min-width em(560) 1);
$bp-medium: new-breakpoint(min-width em(750) 2);

// breakpoint setup landing page

$bp-landing-medium: new-breakpoint(min-width em(750) max-width em(1349) 2);
$bp-landing-large: new-breakpoint(min-width em(1350,16) max-width em(1799) 3);
$bp-landing-x-large: new-breakpoint(min-width em(1800, 16) 4);